{% extends 'base.html' %}
{% block title %}О нас{% endblock %}
  {% block content %}
<div class="lk-fon">
<br><br><br><br>
 <div class="container">
<div class="col-lg main-cases__item card">
<h1>Bastau Project</h1>
Бизнес-кейсы уникальны, как и каждая компания, они не имеют единственно возможного решения, но демонстрируют общий подход и технологию решения управленческих задач, а значит должны широко использоваться в учебном процессе в вузах Казахстана.
    <br><br>
Использование бизнес-кейсов в процессе обучения зарекомендовало себя как эффективный способ формирования практических навыков у обучающихся.<br><br>
Основная цель бизнес-кейса — поделиться опытом решения проблемы или достижения цели. Истории в кейсах настоящие (хотя иногда в них меняют имена и названия) и выдуманные на основе реальных событий, поэтому дают представление о практической стороне любой деятельности. Это полезно для обучения и для преодоления трудных ситуаций в собственном бизнесе.<br><br>
Может представлять собой текст, презентацию, видео, изображение, но чаще всего объединяет несколько форматов представления данных. Создателю кейс помогает обобщить и полностью осознать свой опыт, другим пользователям — научиться на чужом опыте, извлечь полезную информацию для себя.<br><br>
В настоящее время в связи с быстрым развитием компьютерных и информационных технологий и глобализацией экономических отношений процесс рыночных коммуникаций переходит на качественно новый этап своего развития при активном использовании возможностей сети Интернет.<br><br>
Для охвата всех элементов учебного процесса создаются разные системы направленные на решение определенных задач. В Высшем колледже Инеу была поставлена задача разработать сайт стажировок, где работодателей или организация могла бы опубликовать «Кейс» (какую-либо работу) для студентов. Выполнив работу заказчик оценивает ее и выбирает победителя кейса.<br><br>

</div>
    </div>
</div>
  {% endblock %}