{% extends 'base.html' %}
{% block title %}Создать кейс{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="case-fon">
<section>
  <div class="container pt-4">
    <div class="row ">
      <div class="col-md-6 mx-auto">
        <div class="card my-5">
          <div class="card-header text-black ">
            <h2>Создание кейса</h2>
          </div>
              <div class="card-body">
                  <form action="" method="POST" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                       {% for field in form %}
                         <div class="form-group mt-4">
                             {{ field.label_tag }}
                                {% render_field field class="form-control" %}
                                  {% for error in field.errors %}
                                    <span style="color:red">{{ error }}</span>
                                  {% endfor %}
                       {% endfor %}
                           <input type="submit" value="Создать кейс" class="mt-4 btn btn-block btn-gradient">
                         </div>
                  </form>
               </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</div>
{% endblock %}
