#header{
background: linear-gradient(45deg, rgb(25, 119, 123), rgb(30, 92, 119));;
}
.module caption{
background: linear-gradient(45deg, rgb(25, 119, 123), rgb(30, 92, 119));;
}
div.breadcrumbs{
background: linear-gradient(45deg, rgb(25, 119, 123), rgb(30, 92, 119));;
}