{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}
  {% block content %}
    <div class="lk-fon">
<br><br><br>

 <div class="container card p-5">
    <h3>Сброс пароля</h3>
    <p>Для сброса пароля укажите ниже Ваш адрес электронной почты.
        <br>Если Ваша учетная запись есть в базе данных, на Ваш адрес электронной почты будет отправлено письмо, содержащее инструкции по восстановлению доступа.</p>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <button class="btn-gradient  ">Отправить</a></button>
    </form>
 </div>
      </div>
  {% endblock %}




